.dark{
    background-color: #0F0F0F;
}
.dark .header > img{
filter: invert(98%) sepia(100%) saturate(2%) hue-rotate(72deg) brightness(109%) contrast(101%);
}
.dark #textarea{
    color: #fff;
}
.dark #textarea::placeholder{
    color: #cccc;
}
.dark .contenedor-principal p{
    color: white;
}
.dark .contenedor-principal p > img{
    filter: invert(98%) sepia(100%) saturate(2%) hue-rotate(72deg) brightness(109%) contrast(101%);
}
.dark .botones-principales button:nth-child(1){
    background:rgb(33, 87, 159) ;
    color: #fff;
}
.dark .botones-principales button:nth-child(2){
    background:#fff ;
    color: #0F0F0F;
}
.dark .botones-principales button:nth-child(1):hover{
    background:#F4EEE0 ;
    color: #000;
    box-shadow: 0.3em 0.5em 1em 1px rgba(255,255,255,0);
}
.dark .botones-principales button:nth-child(2):hover{
    background:#F4EEE0 ;
    color: #0F0F0F;
}
.dark .contenedor-izquierdo{
    background: #272727;
}
.dark .contenedor-izquierdo h3 ,.dark .contenedor-izquierdo p{
    color: rgb(249, 245, 249);
}
.dark #textarea-salida{
    color:#FFF;
}
